<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <title>New Post</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==" crossorigin="anonymous" />
</head>
<body>
<!--------------Navigation--------------->
<!--/*@thymesVar id="user" type="be.intecbrussel.blogapplication.model.User"*/-->
<nav class="navbar bg-white navbar-expand shadow">
    <div class="container">
        <div class="collapse navbar-collapse p-2" id="navbarResponsive">
            <a class="navbar-brand" href="#" th:href="@{/index}">LOGO Blogify</a>
            <buttom class="ml-auto btn btn-outline-secondary btn-lg" sec:authorize="isAuthenticated()" font-color="black">
                <a href="/" th:href="@{/logout}">Logout</a></buttom>
            </ul>
        </div>
    </div>
</nav>
<!--------------End Navigation --------------->
<!-------------- First line Registration text ---------------->
<div class="container col-12 pt-5 w-100"> <!--th:unless="${#authorization.expression('isAuthenticated()')}"-->
    <div class="container justify-content-center">
        <h2 class="text-center font-weight-bold">
            New Post
        </h2>
    </div>
</div>
<!-------------- End line Registration text ---------------->
<!-------------- First line Formulair ---------------->
<div class="container mt-5"><!--th:if="${#authorization.expression('isAuthenticated()')}"-->
    <div class="row">
        <div class="col-lg-3"></div>
        <div class=" pb-3 pt-5 pr-5 pl-5 col-lg-6 border border-dark rounded">
            <div id="ui">
                <form th:object="${post}" th:action="@{'/user/' + ${user.getId()} + '/createPost'}" class="form-group" method="post">
                    <div class="form-group">
                        <label for="post-title" class="control-label">Title</label>
                        <input class="form-control" rows="4" cols="50" th:field="*{postTitle}" id="post-title" placeholder="What is the title?" required></input>
                    </div>
                    <div class="form-group">
                        <label for="post-text" class="control-label">Add some text</label>
                        <textarea class="form-control" rows="4" cols="50" th:field="*{postText}" id="post-text" placeholder="Wanna do you wanna share with us?" required></textarea>
                    </div>
                    <!--div class="form-group text-center">
                        <img onerror=this.src="https://st4.depositphotos.com/17828278/24401/v/600/depositphotos_244011872-stock-illustration-image-vector-symbol-missing-available.jpg" th:src="@{'/user/' + ${post.id} + '/postImage'}"  width="130" class="rounded mb-2 img-thumbnail">
                        <a class="align-middle btn btn-default" href="#"
                           th:href="@{'/user/' + ${post.id} + '/postImage'}" role="button">Add an image!</a>
                    </div!-->
                    <div class="col text-center">
                        <button class="block btn btn-primary pl-5 pr-5 pt-0" type="submit">
                            <span style="font-size:xx-large">Create Post</span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-------------- End line Formulair ---------------->
<!---------------footer--------->
<footer>
    <div class="container col-12 mt-5 bg-dark bottompage">
        <div class="text-light-center py-4 justify-content-center">
            <div class="col-10 py-5">
            </div>
        </div>
    </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/7ea262bad9.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous"></script>
</body>
</html>