<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>

    <title>Register</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
          integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw=="
          crossorigin="anonymous"/>
</head>

<body>
<!--------------Navigation--------------->
<nav class="navbar bg-white navbar-expand shadow">
    <div class="container">
        <div class="collapse navbar-collapse p-2" id="navbarResponsive">
            <a class="navbar-brand" href="#" th:href="@{/index}">LOGO Blog app</a>
            <ul class="navbar-nav ml-auto">
                <buttom class="ml-auto btn btn-outline-secondary btn-lg mr-3" sec:authorize="isAnonymous()"
                        font-color="black">
                    <a href="/" th:href="@{/login}">Log in</a></buttom>
                <buttom class="ml-auto btn btn-outline-secondary btn-lg" sec:authorize="isAnonymous()"
                        font-color="black">
                    <a href="/" th:href="@{/registration}">Register</a></buttom>
                <buttom class="ml-auto btn btn-outline-secondary btn-lg" sec:authorize="isAuthenticated()"
                        font-color="black">
                    <a href="/" th:href="@{/logout}">Logout</a></buttom>
            </ul>
        </div>
    </div>
</nav>
<!--------------End Navigation --------------->

<!-------------- First line Registration text ---------------->
<div class="container col-12 pt-5 w-100">
    <div class="container justify-content-center">
        <h2 class="text-center display-3 font-weight-bold">
            You forgot your password ?!
        </h2>
        <h3 class="text-center font-weight-light">
            Don't worry...
        </h3>

    </div>
</div>
<!-------------- End line Registration text ---------------->
<!-------------- First line Formulaire ---------------->
<div class="container mt-5 ">

    <div th:if="${error != null}">
        <p class="text-danger">[[${error}]]</p>
    </div>
    <div th:if="${message != null}">
        <p class="text-danger">[[${message}]]</p>
    </div>

    <form th:action="@{/forgotPassword}" method="post">
        <div class="border border-secondary rounded p-3">
            <div>
                <p>We will be sending a reset password link to your email.</p>
            </div>
            <div>
                <p>
                    <input type="email" name="email" class="form-control" placeholder="Enter your e-mail" required
                           autofocus/>
                </p>
                <p class="text-center">
                    <input type="submit" value="Send" class="btn btn-primary"/>
                </p>
            </div>
        </div>
    </form>
</div>
<!-------------- End line Formulair ---------------->

<!---------------footer--------->
<footer>
    <div class="container col-12 mt-5 bg-dark bottompage">
        <div class="row text-light-center py-4 justify-content-center">
            <div class="col-10 py-5">
            </div>

        </div>
    </div>
</footer>
</body>
</html>