<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==" crossorigin="anonymous" />

    <title>Index</title>
</head>

<body>
<!--------------Navigation--------------->
<nav class="navbar bg-white navbar-expand shadow">
    <div class="container">
        <div class="collapse navbar-collapse p-2" id="navbarResponsive">
            <a class="navbar-brand" href="#">LOGO Blog app</a>
            <ul class = "navbar-nav ml-auto">
                <buttom class="ml-auto btn btn-outline-secondary btn-lg mr-3" sec:authorize="isAnonymous()" font-color="black">
                    <a href="/" th:href="@{/login}">Log in</a></buttom>
                <buttom class="ml-auto btn btn-outline-secondary btn-lg" sec:authorize="isAnonymous()" font-color="black">
                    <a href="/" th:href="@{/registration}">Register</a></buttom>
                <buttom class="ml-auto btn btn-outline-secondary btn-lg" sec:authorize="isAuthenticated()" font-color="black">
                    <a href="/" th:href="@{/logout}">Logout</a></buttom>
            </ul>
        </div>
    </div>
</nav>
<!--------------End Navigation --------------->
<br>
<br>
<div class="container">
    <h2>Welcome to the "Intec blog application"</h2>

    <p>
        Welcome <span th:text="${user.firstName}"></span>
        <span th:text="${user.lastName}"></span>
        <br> Your Email : <span th:text="${user.email}"></span>
    </p>
</div>

</body>

</html>