<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==" crossorigin="anonymous" />

    <title>Login</title>
</head>
<body>
<!--------------Navigation--------------->
<nav class="navbar bg-white navbar-expand shadow">
    <div class="container">
        <div class="collapse navbar-collapse p-2" id="navbarResponsive">
            <a class="navbar-brand" href="#" th:href="@{/index}">LOGO Blogify</a>
            <ul class = "navbar-nav ml-auto">
                <buttom class="ml-auto btn btn-outline-secondary btn-lg mr-3" sec:authorize="isAnonymous()" font-color="black">
                    <a href="/" th:href="@{/login}">Log in</a></buttom>
                <buttom class="ml-auto btn btn-outline-secondary btn-lg" sec:authorize="isAnonymous()" font-color="black">
                    <a href="/" th:href="@{/registration}">Register</a></buttom>
                <buttom class="ml-auto btn btn-outline-secondary btn-lg" sec:authorize="isAuthenticated()" font-color="black">
                    <a href="/" th:href="@{/logout}">Logout</a></buttom>
            </ul>
        </div>
    </div>
</nav>
<!--------------End Navigation --------------->
<br>
<br>
<div class="container">

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>Login page</h1>
            <form th:action="@{/login}" method="post">
                <div th:if="${param.error}">
                    <div class="alert alert-danger">Invalid username or password.
                    </div>
                </div>
                <div th:if="${param.logout}">
                    <div class="alert alert-info">You have been logged out.</div>
                </div>
                <div class="form-group">
                    <label for="username">Username</label>: <input type="text" id="username" name="username" class="form-control" autofocus="autofocus" placeholder="Username" />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>: <input type="password" id="password" name="password" class="form-control" placeholder="Password" />
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <input type="submit" name="login-submit" id="login-submit" class="form-control btn btn-primary" value="Log In" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <span>New user? <a href="/" th:href="@{/registration}">Register here</a></span>
                </div>
                <div class="form-group">
                    <span>Forgot password? <a href="/" th:href="@{/forgotPassword}">click here</a></span>
                </div>
            </form>
        </div>
    </div>
    <div class="row col-md-6 col-md-offset-3">
        <a class="btn btn-outline-dark btn-lg btn-block" th:href="@{/oauth2/authorization/github}">
            <span style="font-size: 2em; vertical-align: middle"><i class="fa fa-github-square"></i></span>
            <span>Login with <strong>Github</strong></span>
        </a>
        <a class="btn btn-outline-dark btn-lg btn-block" th:href="@{/oauth2/authorization/google}">
            <span style="font-size: 2em; vertical-align: middle"><i class="fa fa-google-square"></i></span>
            <span>Login with <strong>Google</strong></span>
        </a>
    </div>


</div>

</body>
</html>