<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>Search not found</title>

    <script src="https://kit.fontawesome.com/51a5fc685f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
          integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw=="
          crossorigin="anonymous"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>

</head>

<body>
<!--------------Navigation--------------->

<!--/*@thymesVar id="user" type="be.intecbrussel.blogapplication.model.User"*/-->

<nav class="navbar bg-white navbar-expand shadow">
    <div class="container">
        <div class="collapse navbar-collapse p-2" id="navbarResponsive">
            <a class="navbar-brand" href="#" th:href="@{/index}">
                <span style="font-size: 1.5em;"><i class="fas fa-book-reader"></i> Blogify</span>
            </a>

            <form th:action="@{search}" method="get">
                <input type="text" name = "text" id="text" class="form-control" placeholder="Search here" th:value="${text}" required
                       aria-label="Search" size="30" />
            </form>


            <buttom class="ml-auto btn btn-outline-secondary btn-lg mr-3" sec:authorize="isAuthenticated()"
                    font-color="black">
                <a href="/" th:href="@{'/user/'+${user.getId()}+'/profile'}">Profile</a></buttom>


            <div class="navbar-nav ml-auto">
                <buttom class="ml-auto btn btn-outline-secondary btn-lg mr-3" sec:authorize="isAnonymous()"
                        font-color="black">
                    <a href="/" th:href="@{/login}">Log in</a></buttom>
                <buttom class="ml-auto btn btn-outline-secondary btn-lg" sec:authorize="isAnonymous()"
                        font-color="black">
                    <a href="/" th:href="@{/registration}">Register</a></buttom>

                <buttom class="ml-auto btn btn-outline-secondary btn-lg" sec:authorize="isAuthenticated()"
                        font-color="black">
                    <a href="/" th:href="@{/logout}">Logout</a></buttom>
            </div>
        </div>
    </div>
</nav>
<!--------------End Navigation --------------->

<!--/*@thymesVar id="user" type="be.intecbrussel.blogapplication.model.User"*/-->


<div class="container-fluid gedf-wrapper">

    <div class="row">

        <div class="card-body not-found" th:align="center">
            <h5 class="card-title" >We couldn't find what you're looking for.</h5>

            <p class="card-text not-found">
                The search term '<span th:text="${text}"></span>' doesn't seem to exist in our post archives.
            </p>
        </div>
    </div>
</div>
</body>

</html>