<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>

    <title>Blogify: Verfiy your Account!</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
          integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw=="
          crossorigin="anonymous"/>

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="https://kit.fontawesome.com/51a5fc685f.js" crossorigin="anonymous"></script>

</head>

<body>
<!--------------Navigation--------------->
<!--/*@thymesVar id="user" type="be.intecbrussel.blogapplication.model.User"*/-->
<div th:replace="nav :: navbar"></div>
<!--------------End Navigation --------------->


<!-------------- First line Registration text ---------------->
<div class="container col-12 pt-5 w-100">
    <div class="container justify-content-center text-center">
        <h2 class="display-3 font-weight-bold">
            Welcome to Blogify !
        </h2>
        <h3 class="font-weight-light">
            Thanks for becoming part of our community
        </h3>
        <form th:action="@{'/verifyAccount/' + ${token}}" th:method="post" onsubmit="return validateCaptcha()">
            <div th:if="${captcha}">
                <h5 class="font-weight-light">
                    Please show us that you're not a robot!
                </h5>
                <div class="g-recaptcha d-flex m-3 justify-content-center" data-sitekey="6LdZ4YwaAAAAAI49zk3Mmqf65TG7adPG4NJO1Kb5" th:data-sitekey="${@environment.getProperty('recaptcha.key')}" required>
                </div>
                <div class="col text-center">
                    <button class="block btn btn-primary pl-5 pr-5 pt-0" type="submit">
                        <span style="font-size:xx-large">Verify me!</span></button>
                </div>
            </div>
        </form>

        <div class="pt-3" th:if="${failed}">
            <div class="alert alert-danger">
                <strong>The link you tried is already expired! Please try again</strong>
            </div>
        </div>
        <div class="pt-3" th:if="${validated}">
            <div class="alert alert-success">
                <strong>Your account have been correctly verified! Please log in!</strong>
            </div>
        </div>
        <div class="pt-3" th:if="${alreadyVerified}">
            <div class="alert alert-primary">
                <strong>Your account have been already verified! Not needed to do it again! :)</strong>
            </div>
        </div>



    </div>


</div>

<!-------------- End line Registration text ---------------->

<!---------------footer--------->
<footer class="footer bg-dark">
    <div class="container col-12 mt-5 bg-dark">

    </div>
</footer>

<script type="text/javascript">
    function validateCaptcha(){
        if (grecaptcha.getResponse()) {
            return true;
        } else {
            alert("Please prove that you're not a robot")
            return false;
        }
    }
</script>
</body>
</html>